<!DOCTYPE html>
<html>
  <head>
    <title>Rails7Vuejs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= javascript_importmap_tags %>
    <%= stylesheet_pack_tag 'main' %> 
    <%= stylesheet_pack_tag 'application', preload: true, media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'vue_pack', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'erb_pack', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="app">
      <%= yield %>
    </div>
  </body>
</html> 
